/* formStyles.css */
.container {
  margin-top: 40px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  color: #000000;
}

.titlee {
  color: #000000;
}

.textField {
  margin-bottom: 16px;
}

.textField input {
  color: #000000;
}

.textField label {
  color: #000000;
}

.submitButton {
  margin-top: 16px;
  background-color: #ffffff;
  color: #ff4500;
}
